@import "tailwindcss";

/* setting highlight colour to violet and highlighted text to white */
::selection {
  background: #2218d6;
  color: white;
}

@font-face {
  font-family: "SFMono";
  src: url("/fonts/SF-Mono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SFProDisplay";
  src: url("/fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SFProText";
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SFProSemibold";
  src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}
