---
import Layout from '../layouts/Layout.astro'
import BlogCard from '../components/BlogCard.astro'
import {
  SiLatex,
  SiGnubash,
  SiDbt,
  SiPostgresql,
  SiAirbyte,
  SiPython,
  SiSnowflake,
  SiTerraform,
  SiAstro,
  SiTypescript,
  SiTailwindcss,
  SiNetlify,
  SiJinja,
  SiHtml5,
  SiDocker,
  SiAmazonaws,
  SiTypst
} from 'react-icons/si'
---

<Layout title='Blog'>
  <section class='bg-white'>
    <div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
      <div class='grid gap-8 lg:grid-cols-2'>
        <BlogCard
          BlogTitle='Creating a Tech Blog using Astro.js and Tailwind CSS'
          BlogDescription='Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'
          Route='create-tech-blog-using-astro-tailwind'
          Logos={[
            { logoName: 'SiHtml5', logoSize: 14 },
            { logoName: 'SiTailwindcss', logoSize: 14 },
            { logoName: 'SiTypescript', logoSize: 14 },
            { logoName: 'SiAstro', logoSize: 14 },
            { logoName: 'SiNetlify', logoSize: 14 }
          ]}
        />
        <BlogCard
          BlogTitle='Building an End-to-End Data Pipeline with Airbyte, dbt, Dagster, Snowflake and Metabase'
          BlogDescription='A project designed to simulate the flow of retail sales data for an e-commerce platform. The infrastructure is provisioned and managed on AWS, with each service optimized for its specific role in the pipeline.'
          Route='end-to-end-data-pipeline'
          Logos={[
            { logoName: 'SiPython', logoSize: 14 },
            { logoName: 'SiDbt', logoSize: 14 },
            { logoName: 'SiAirbyte', logoSize: 14 },
            { logoName: 'SiSnowflake', logoSize: 14 },
            { logoName: 'SiPostgresql', logoSize: 14 },
            { logoName: 'SiTerraform', logoSize: 14 },
            { logoName: 'SiAmazonaws', logoSize: 14 },
            { logoName: 'SiDocker', logoSize: 14 }
          ]}
        />
        <BlogCard
          BlogTitle='Leveraging dbt Project Variables and Jinja for a DRY Workflow'
          BlogDescription='Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'
          Route='/'
          Logos={[
            { logoName: 'SiDbt', logoSize: 14 },
            { logoName: 'SiJinja', logoSize: 14 }
          ]}
        />
        <BlogCard
          BlogTitle='Automating the Workflow for Job Applications'
          BlogDescription='Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'
          Route='/'
          Logos={[
            { logoName: 'SiPython', logoSize: 14 },
          ]}
        />
      </div>
    </div>
  </section>
</Layout>
