---
import { FaTwitter, FaGithub, FaLinkedin, FaRegCopyright} from 'react-icons/fa';
---

<footer class="flex flex-col items-center justify-center p-4 text-black">
  <div class="flex space-x-8">
    <a href="https://twitter.com/oresttokovenko1" class="text-black hover:text-blue-400"><FaTwitter size={20} /></a>
    <a href="https://github.com/oresttokovenko" class="text-black hover:text-gray-400"><FaGithub size={20} /></a>
    <a href="https://linkedin.com/in/oresttokovenko" class="text-black hover:text-blue-600"><FaLinkedin size={20} /></a>
  </div>
  <div class="flex items-center mt-2 space-x-1">
    <FaRegCopyright size={14}/>
    <span class="text-black tracking-widest">Orest Tokovenko — Everybody's Buddy</span>
  </div>
</footer>
