---
// src/components/Landing.astro
---

<section class="w-full min-h-[calc(100vh-4rem)] flex items-center justify-center bg-white">
  <!-- Video container -->
  <div class="max-w-4xl w-full px-4">
    <video class="w-full scale-200 sm:scale-100" autoplay loop muted playsinline>
      <source src="/pixel_ring.mp4" type="video/mp4" />
      Your browser does not support the video tag
    </video>
  </div>
</section>