---
import { ArrowRight } from "lucide-react";

interface Props {
  href: string;
  label: string;
  external?: boolean;
}

const { href, label, external } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class="group flex items-center text-sm text-gray-700 hover:text-black"
>
  <span class="relative">
    {label}
    <span
      class="absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 bg-black transition-transform duration-200 group-hover:scale-x-100"
    ></span>
  </span>
  <ArrowRight className="ml-2 size-3" />
</a>
