<div
  class="font-ibm w-full border-l-4 border-white px-4 py-3 text-sm text-white"
  style="background-color: rgb(22, 31, 116);"
>
  <div class="mx-auto max-w-4xl text-center">
    Work in Progress - This post is currently being written
  </div>
</div>
